<h1>Test:</h1>
<p><%= @question.test.title %></p>
<h1>Question:</h1>
<p><%= @question.body %></p>
<h1>Answers:</h1>
<td><%= link_to "New answer", new_question_answer_path(@question) %></td>
<Table>
  <tr>
    <th>Body:</th>
    <th></th>
  </tr>

  <%= render @question.answers %>
</Table>

<%= link_to "Back", test_path(@question.test) %>
