<p>
  <strong>Badge:</strong>
  <%= @badge.title%>
</p>

<p>
  <strong>Image:</strong>
  <%= @badge.image%>
</p>

<p>
  <strong>Type:</strong>
  <%= @badge.rule_type%>
</p>

<p>
  <strong>Value:</strong>
  <%= @badge.rule_value%>
</p>

<%= link_to "Back", admin_badges_path %>
