<tr>
  <td><%= badge.title %></td>
  <td><%= badge_image(badge) %></td>
  <td><%= badge.rule_type %></td>
  <td><%= badge.rule_value %></td>
  <td><%= current_user.badges_count(badge.id) %></td>
</tr>
