<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<h2> <%= t('.answers_count', count: @test_passage.correct_questions) %></h2>
<h3>
  <%= t('.answers_percent') %>
  <b style="color:<%= completed_color %>;"> <%= @test_passage.percent_correct_answers %>% </b>
  <br>
  <b style="color:<%= completed_color %>;"><%= completed_text %></b>
</h3>
