<h1>The <%= @test_passage.test.title %> Test was completed</h1>
<h2> Correct answers count: <%= @test_passage.correct_questions %></h2>
<h3>
  Correct answers percent:
  <b style="color:<%= completed_color %>;"> <%= @test_passage.percent_correct_answers %>% </b>
  <br>
  <b style="color:<%= completed_color %>;"><%= completed_text %></b>
</h3>
