<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.author.name %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to "Edit", edit_admin_test_path(test) %></td>
  <td><%= link_to "Delete", admin_test_path(test), method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
