<h1><%= t('.header') %></h1>
<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title%>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= test_level(@test) %>
</p>

<p>
  <strong><%= t('.category') %></strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.author') %></strong>
  <%= @test.author.name %>
</p>

<p>
  <strong><%= t('.date_create') %>:</strong>
  <%= l(@test.created_at, format: :short) %>
</p>

<h1><%= t('.questions') %></h1>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<Table>
  <tr>
    <th>Body:</th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>

  <%= render partial: 'admin/questions/question', collection: @test.questions %>

</Table>
