<h1>Test:</h1>
<p>
  <strong>Title:</strong>
  <%= @test.title%>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @test.author.name %>
</p>

<p>
  <strong>Date create:</strong>
  <%= @test.created_at %>
</p>

<h1>Questions list:</h1>
<%= link_to "New question", new_test_question_path(@test) %>
<Table>
  <tr>
    <th>Body:</th>
    <th colspan="2">Actions</th>
  </tr>

  <%#= render @test.questions %>
  <%= render partial: 'questions/question', collection: @test.questions %>

</Table>
<%= link_to "Back", admin_tests_path %>


